/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: transparent; /* Transparent for now */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; 
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ffccf0; /* Slightly lighter pink hover effect */
}

/*Layout Styles*/
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(135deg, #ff0080, #ffcccc); */
  background: linear-gradient(
    135deg, /* Angle of the gradient */
    #ff66cc, /* First pink tone */
    #ffccff 20%, /* Softer pink */
    #b8b3fb 40%, /* Purple */
    #aad5ff 60%, /* Blue */
    #b8b3fb 80%, /* Purple */
    #ffccff 90%, /* Softer pink */
    #ff66cc /* Pink again */
  );
  background-size: 200% 200%;
  animation: gradientAnimation 10s ease infinite;
  z-index: -2; /* Send the background behind all content */
}

/* Keyframes for animating the gradient */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/*Landing Page Styles*/

.landing-page {
  padding-top: 80px; /* This should match the height of your navbar */
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  /* background: linear-gradient(135deg, #ff0080, #ffcccc);  */
  color: white;
  text-align: center;
  padding: 0 2rem;
  z-index: 1;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.cta-button {
  padding: 1rem 2rem;
  background-color: #ff4da6;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #ff1c8d;
}

/* Butterfly */
.landing-page {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1; /* Ensure it stays above the animation */
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
