/* Necessary body stuff */
.navbar .logo a,
.navbar .logo a:link,
.navbar .logo a:visited,
.navbar .logo a:hover,
.navbar .logo a:active {
  color: hsl(0, 0%, 25%) !important;
  text-decoration: none !important;
}

/* *, *::before, *::after {
  box-sizing: border-box;
} */


html, body {
  margin: 0;
  padding: 0;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; 
  transition: opacity 0.5s ease-in-out;
  text-decoration: none;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(0, 0, 0) !important;
  text-transform: uppercase;
  text-decoration: none !important;
}

.nav-links {
  display: flex;
  gap: 2rem;
  color: rgb(98, 97, 97);
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none !important;
}

.nav-links a {
  pointer-events: auto;
  font-size: 1rem;
  color: rgb(106, 106, 106);
  transition: color 0.3s;
  text-decoration: none !important;
}

.nav-links a:hover {
  color: #ffccf0; /* Slightly lighter pink hover effect */
}

/* Lil butterfly on nav */
.mini-animation {
  width: 110px;      /* increase width */
  height: 80px;    /* increase height */
  position: relative;
  margin-top: -20px;
  margin-bottom: 30px;}

/*Layout Styles*/
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  /* background-size: 200% 200%; */
  z-index: -2; /* Send the background behind all content */
}


/* Butterfly Stuff */

.landing-page {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 150;
  pointer-events: none;
  background-color: none;
}

/* IntroPage */

.intro-page {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;
  overflow: hidden;
}

.intro-title {
  position: absolute;
  top: 30%;
  font-size: 5rem;
  font-weight: bold;
  color: rgb(102, 101, 101);
  z-index: 10;
  font-family: 'Poppins', sans-serif; 
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.intro-title:hover {
  transform: scale(1.1);
}








